*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #aeffeb;
}

#title {
    font-size: 45px;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-text-stroke: 1.5px #000000;    
}

.frame {
    display:flex;
    background-color: #ff0000;
    margin: 15px auto;
    width: 700px;
    height: 700px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 5px 5px #525252;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
    border: 0.5px solid #000000;
    cursor: crosshair;
}

.sizeBar {
    display: flex;
    margin: 20px auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pens {
    display: flex;
    gap: 10px;
}

input {
    text-align: center;
    font-size: 16px;
    width: 50px;
    height: 30px;
    border: 1px solid #000000;
}

.buttons button,
.sizeBar #size {
    font-size: 16px;
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 15px;
}

button.active {
    color: #ffffff;
    background-color: #000000;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#title {
    display: flex;
    justify-content: center;
}

#error {
    color: #ff0000;
    display: flex;
    justify-content: center;
}